body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 240, 240);
}
.container{
    width: 960px;
    min-height: 300px;
    background-color: white;
    margin : 0 auto;
}
.principal{
    min-height: 500px;
    display: flex;
}
.col1{
    background-color: rgb(255, 255, 255);
    width: 200px;
    min-height: 500px;
}
.col2{
    background-color: rgb(255, 255, 255);
    width: 560px;
    min-height: 500px;
}
.col3{
    background-color: rgb(255, 255, 255);
    width: 200px;
    min-height: 500px;
}
.footer{
    background-color: rgb(228, 220, 220);
    min-height: 100px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
}
.article{
    margin: 20px;
    min-height: 500px;
}
h1{
    font-size: 27px; 
    margin: 30px 0 10px 0;
}
p{
    font-size: 14px;
    text-align: justify;
    line-height: 1.3;
}
img{
    display: block;
    width: 450px;
    margin: 20px auto;
}
form{
    background-color: rgb(228, 220, 220);
    width: 520px;
    padding: 20px 0 20px 0;
}
label{
    text-align: right;
    width: 150px;
    display: block;
    margin-right: 30px;
}
input{
    width: 200px;
}

form p {
    display: flex;
    flex-wrap: wrap;
}
textarea{
    width: 400px;
    height: 100px;
    margin-left: 60px;
}
.sub{
    width: 70px;
    display: block;
    margin: 10px auto 0 auto;
}
