/** FONT FAMILY AND BACKGROUND BODY **/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 240, 240);
}

/** MAIN STYLE **/

.container {
    width: 960px;
    min-height: 300px;
    background-color: white;
    margin: 0 auto;
}

.principal {
    min-height: 500px;
    display: flex;
}

.col1 {
    background-color: rgb(255, 255, 255);
    width: 200px;
    min-height: 500px;
}

.col2 {
    background-color: rgb(255, 255, 255);
    width: 560px;
    min-height: 500px;
}

.col3 {
    background-color: rgb(255, 255, 255);
    width: 200px;
    min-height: 500px;
}

.article {
    margin: 20px;
    background-color: white;
}

h1 {
    font-size: 27px;
    margin: 30px 0 30px 0;
}
.quote {
    margin: 30px 0 30px 0;
    font-size: 20.5px;
}
p{
    font-size: 14px;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 40px;
}
img{
    width: 520px;
}

/** SECTIONS STYLE **/

.footer {
    background-color: rgb(228, 220, 220);
    min-height: 100px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
}

@media screen and (max-width:768px){



}