.header {
    min-height: 300px;
    background-image: url("2.jpg");
    background-size: 960px 300px;
    display: flex;
    align-items: flex-end;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(228, 220, 220);
    display: flex;
    justify-content: center;
}

li {
    border-right: 1px solid rgb(255, 245, 245);
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    transition: background-color linear 250ms;
}

li a:hover {
    background-color: rgb(245, 214, 215);
}

a:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.active {
    background-color: rgb(245, 214, 215);
}
